.main-images-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.main-images-container .image-container {
  max-width: 500px;
  max-height: 500px;
}

.main-images-container .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--base-border-radius);
}

.statistics-data {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-size: var(--base-font-size);
  font-weight: 500;
}

.statistics-data span {
  display: inline;
}

.search-results {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1.5rem;
}

.search-results .cancel-button {
  cursor: pointer;
  font-size: calc(var(--base-font-size) * 1.5);
}